{embed='/law/header'}

{exp:jquery:script_tag}
{exp:law:assess}
<p>Please allocate a total of 100 points among your fellow group members based on your assessment of each other group memberâ
contribution to the quality of the groupâ preparation for and participation in assessable seminars.</p>

<p>Please also make a comment of at least one sentence which indicates how you think each other student in your group
could have improved their contribution.</p>
<p>
Note that this peer assessment process is confidential. No other student will be told how you have allocated your points
nor who is the source of any particular comment. Further information about this peer assessment process is available in
section 16 of the Course Outline.</p>
{/exp:law:assess}

{embed='/law/footer'}