{embed='/law/header'}

{exp:law:logged_in group_access_id = '6' login_uri='login'}
<h1>Console</h1>

<p><a href='add-student-list'>Add Student Group List</a></p>
<p><a href='download-assessments'>Download Assessed Student File</a>
</br><em>This file <strong>only</strong> contains the students who have been assessed by at least 1 student in their group.</em></p>
<p><a href='download-comments'>Download Student Comments File</a>
</br><em>This file <strong>only</strong> contains the students who have been assessed by at least 1 student in their group..</em></p>
<p><a href='assess-peers'>Student Peer Assessment Link</a>
</br><em>Copy this link into your Blackboard course for student access.</em></p>
<p><a href='clear-groups'>Clear All Groups from the Database</a></p>
<p><a href='clear-assessments'>Clear All Assessments from the Database</a></p>
<p><a href='logout'>Logout</a></p>

{/exp:law:logged_in}

{embed='/law/footer'}